<div class="container form-group">
<div class="col-md-10 col-md-offset-1">
	<h3>Pal-Sac Locations</h3>

	<div class="form-group">
		<input type="text" class="form-control" id="searchBox"
			placeholder="Enter a city name, or a postal code">
	</div>

<!-- <div class="container col-md-2">
	<div class="menu">
		<ul>
			<li>Location 1</li>
			<li>Location 2</li>
			<li>Location 3</li>
			<li>Location 4</li>
		</ul>
	</div>
</div>-->
<div class="container col-md-10">
	<div id="mapCanvas"></div>
</div>
</div>
</div>
<!--<div class="container well" id="mapListContainer">
 		<ul></ul>
 	</div>-->