<div class="container form-group">
	<h3>Pal-Sac Locations</h3>
	<div class="form-group">
		<input type="text" class="form-control input-lg" id="search-box"
			placeholder="Enter a city name, or a postal code">
		<!--<div class="input-group-btn">
 				<button class="btn btn-info btn-lg input-lg" id="search-btn">
 					<span class="glyphicon glyphicon-search"></span>
 				</button>
 			</div>-->
	</div>
</div>

<div class="container">
	<div id="map-canvas"></div>
</div>
<!--<div class="container well" id="locationList">
 		<ul></ul>
 	</div>-->