<div id="eventForm" class="container">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default form-horizontal">
			<div class="panel-heading">
				<h3 class="panel-title">New Event</h3>
			</div>
			
			<div class="panel-body">
				<div class="form-group required">
					<label class="col-md-4 control-label" for="title">Event Title</label>
					<div class="col-md-8">
						<input class="form-control event" type="text" name="title" maxlength="60">
					</div>
				</div>
				
				<div class="form-group required">
					<label class="col-md-4 control-label" for="name">Venue Name</label>
					<div class="col-md-8">
						<input class="form-control venue" type="text" name="venue.name">
					</div>
				</div>
				
				<div class="form-group required">
					<label class="col-md-4 control-label" for="address">Address</label>
					<div class="col-md-8">
						<input id="addressInput" class="form-control venue" type="text" name="venue.address" placeholder="">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-4 control-label" for="website">Website</label>
					<div class="col-md-8">
						<input class="form-control venue" type="text" name="venue.website">
					</div>
				</div>
				
				<div class="form-group required">
					<label class="col-md-4 control-label" for="type">Event Type</label>
					<div class="col-md-8">
						<select id="eventTypeSelect" class="form-control event" name="type">
							<option value="popup">Pop-up</option>
							<option value="recurring">Recurring</option>
						</select>
					</div>
				</div>
				
				<div id="eventDateInput" class="form-group required">
					<label class="col-md-4 control-label" for="date">Date</label>
					<div class="col-md-8">
						<div class="input-group datepicker" data-date-format="YYYY/MM/DD">
							<input class="form-control event" type="text" name="date">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
				</div>
				
				<div id="eventDescInput" class="form-group required" hidden="true">
					<label class="col-md-4 control-label" for="repeatDescription">Description</label>
					<div class="col-md-8">
						<input class="form-control event" type="text" name="repeatDescription" placeholder="Eg. First Sunday of every month.">
					</div>
					<span class="help-block"></span>
				</div>
				
				<div class="form-group form-inline required">
					<label class="col-md-4 control-label" for="time">Time</label>
					
					<div class="col-md-4">
						<div class="input-group timepicker" data-date-format="hh:mm a">
							<input class="form-control event" type="text" name="startTime" placeholder="Start">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-time"></span>
							</span>
						</div>
					</div>

					<div class="col-md-4"> 
						<div class="input-group timepicker" data-date-format="hh:mm a">
							<input class="form-control event" type="text" name="endTime" placeholder="End">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-time"></span>
							</span>
						</div>
					</div>
				</div>
				
				<div class="form-group required">
					<label class="col-md-4 control-label" for="email">Organizer</label>
					<div class="col-md-4">
						<input class="form-control organizer" type="text" name="organizer.name" placeholder="Full Name">
					</div>
					
					<div class="col-md-4">
						<input class="form-control organizer" type="text" name="organizer.email" placeholder="Contact Email">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-4 control-label" for="facebookPage">Facebook Page URL</label>
					<div class="col-md-8">
						<input class="form-control event" type="text" name="facebookPage">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-md-4 control-label" for="note">Note</label>
					<div class="col-md-8">
						<textarea class="form-control event" name="note"></textarea>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-md-12 text-right">
						<button class="cancel btn btn-default">Cancel</button>
						<button type="submit" class="submit btn btn-primary">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>